@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$primary: $orange-500;
$secondary: #4e4d4d;
$body-bg: $gray-900;
$body-color: $white;

$component-active-bg: $orange-600;
$input-focus-border-color: $orange-600;

$link-color: $white;
$link-hover-color: $orange-600;

$focus-ring-color: rgba($orange-600, $focus-ring-opacity) ;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);

// Custom Accordion colors
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$body-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$body-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-focus-box-shadow: 0 0 0 0.25rem $orange-600;
$accordion-button-active-bg: $gray-600;
$accordion-button-active-color: $white;

// Custom Offcanvas color
.btn-close {
    filter: var(--bs-btn-close-white-filter);
}
// Import custom parts
@import "card.scss";
@import "footer.scss";
@import "establishment.scss";
@import "breadcrumb.scss";
@import 'cadastro';
@import 'login';

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

body{
        min-height: 100vh;
        background-image: url("../../assets/assets-svg/background-role-facil.svg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        
        #collapse-settings{
            width: 4rem;
        }
        
        main{
            flex: 1;
            position: relative;
            
            .event-list-cards{
                margin-top: 4rem;
            }

            #collapse-settings{
                position: absolute;
                left: 0;
                top: 0;
            }

        }
}

// NavBar
.nav-item{
    padding: 5px 12px;
}
    
// Offcanvas
.distance-filter{
    font-size: 0.9rem;
    padding: 1rem 1.25rem;
}
#range-distance{
    min-width: 100%;
}

.input-range{
    width: 3rem;
}

// NavBar
.navbar{
    margin-top: -2%;
    margin-left: 8%;
}
.nav-item{
    padding: 5px 12px;
    margin-left: 1rem;
}
.nav-item h4{
    color: white;
}
.busca{
    min-width: 30vw;
    margin: 0 4rem;
}
// Offcanvas
.distance-filter{
    font-size: 0.9rem;
    padding: 1rem 1.25rem;
}
#range-distance{
    min-width: 100%;
}

.input-range{
    width: 3rem;
}

